@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-container">
        <div class="top-row px-4 header" style="background-color: #046287;">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3" >
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>

                <Authorized>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Konto
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li>
                                <NavLink class="dropdown-item text-dark" href="Account/Manage">
                                    <span class="bi bi-person-circle"></span> Konto
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="dropdown-item" href="MyOrders">Moje zamówienia</NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" href="Account/Logout">
                                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Wyloguj się
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
