@page "/ExcavatorBucketWorker"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator


<div class="d-flex justify-content-between">
    <h4>Lista łyżek do koparek</h4>
    <button class="btn btn-primary" @onclick="AddExcavatorBucket">Dodaj koparkę</button>
</div>


@if (bucketExcavator == null)
{
    <p><em>Brak łyzek do koparek</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Name</th>
                <th>Production Year</th>
                <th>Operating Hours</th>
                <th>Weight</th>
                <th>Engine</th>
                <th>Engine Power</th>
                <th>Driving Speed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in bucketExcavator)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(machine.ImagePath))
                        {
                            <img src="@machine.ImagePath" alt="Machine Image" style="max-width: 100px; max-height: 100px; object-fit: cover;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@machine.Name</td>
                    <td>@machine.ProductionYear</td>
                    <td>@machine.Weight</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" @onclick="() => EditExcavatorBucket(machine.Id)">Edytuj</button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteExcavatorBucket(machine.Id)">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
