@page "/MachineRental"
@using WynajemMaszyn.Application.Features.Excavators.Queries.DTOs
@using WynajemMaszyn.WebUI.Data
@inject ExcavatorService excavatorService

<PageTitle>MachineRental</PageTitle>

<h1>Zamówienia</h1>


@code {
  

    protected override async Task OnInitializedAsync()
    {

    }
}