@page "/MachineRentalWorker"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator



<h3>RentalMachineWorker</h3>
<PageTitle>RentalMachine</PageTitle>


