@page "/MachineRentalClient"
@using MediatR
@using MudBlazor
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator




<h3>MachineryRentalCLientForm</h3>

