@page "/MachineRentalClient"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator



<h3>RentalMachineClient</h3>
<PageTitle>RentalMachine</PageTitle>