<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GroundForce Rentals</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MachineRentalWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Zamówienia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExcavatorWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Koparki
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExcavatorBucketWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Łyżki do koparek
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RollerWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Walce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HarvesterWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Harvestery
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WoodChipperWorker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rozdrabniacze
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> spot
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Excavator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Koparki
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExcavatorBucket">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Łyżki do koparek
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Harvester">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Walce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Roller">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Harvestery
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WoodChipper">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rozdrabniacze
            </NavLink>
        </div>




    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
